.clogin {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login {
	background-color:#FFFFFF;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	padding: 10px 20px 20px 20px;
	width:320px;
	margin-top:10%;
}
form {
    position: relative;
	display: block;
	padding-bottom: 90px;
}
button {
	width: 320px;
    height: 70px;
    padding: 10px 10px;
    background: rgb(89,181,72)/* verde#5eb319 verdeN#238276 azulG#2196F3*/;
    display: block;
    border: none;
    margin-top: 20px;
    position: absolute;
    left: -20px;
    bottom: -20px;
    max-height: 70px;
    border: 0px solid rgba(0, 0, 0, 0.1); 
    border-radius: 0 0 2px 2px; 
    transform: rotateZ(0deg); 
    transition: all 0.1s ease-out; 
    border-bottom-width: 7px; 
}
button:hover {
	background-color: rgb(83,168,67);
}
span {
	color: #FFFFFF;
}
i {
	color: #fff;
	font-size: 20px;
	position: absolute;
	margin-top: -40px;
	opacity: 0;
	left: 0;
	transition: all 0.1s ease-in;
}
input {
    display: block;
    padding: 15px 10px;
    width: 100%;
    border: 1px solid #ddd;
    transition: border-width 0.2s ease;
    border-radius: 2px;
    color: #ccc;
}
input:focus {
    outline: none;
    color: #444;
    border-color: rgb(252,115,35)/*naranja#fc7323 verde#5eb319 verdeN#238276 azulG#2196F3*/;
    border-left-width: 35px;
}

input:focus + i {
	opacity: 1;
	left: 10px;
	transition: all 0.25s ease-out;
}

footer {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    overflow: hidden;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}
li {
    margin-left: 20px;
}

img{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
