body{
    min-width: 200px;
    width: 100%;
    min-height: 100vh;
}

.sidenav{
    float:left;
    height:100%;
}

.sidenav {
    background: #999;
    z-index: 1000;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    transition: width 1s ;
}

.right {
    position: relative;
    background: #fff;
    width: 100%;
    min-height: 100vh;
    overflow:hidden;
    padding-bottom: 20px;
    transition: width 1s;
    border-style:none;
    border-color:#ccc;
    border-width:1px;
}

.item:hover {
    background-color:#ccc;
}

.sidenav .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
}

.right .glyphicon {
    color:#a9a9a9;
}

span.glyphicon.glyphicon-refresh{
    font-size:17px;
    vertical-align: middle !important;
}

.item {
    height:50px;
    overflow:hidden;
    color:#fff;
    display: inline-block;
    width: 50px;
}
.nice-link {
    text-decoration: none;
    color:#fff;
}

.nice-link:hover {
    text-decoration: none;
    background-color:#ccc;
}

.sidenav{
    overflow-y: hidden;
    height: 50px;
}

.item-right-rs{
    float: right;
}

#logotipo{
    height: 50px;
}

.item-right{
    float: right;
}

#logo{
    width: 20px;
    margin: 15px;
}

.btn-navbar{
    padding: 10px 15px 10px 15px;
    border:1;
    margin-right: 2px;
}

footer{
    background: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (min-width: 768px) {
    .sidenav, .right {
        float:left;
        height:100%;
    }

    .sidenav {
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width 1s ;
    }

    .right {
        transition: width 1s;
        border-style:none;
        border-color:#ccc;
        border-width:1px;
    }

    .sidenav:hover {
        width: 250px;
    }

    .sidenav .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }

    .right .glyphicon {
        color:#a9a9a9;
    }

    span.glyphicon.glyphicon-refresh{
        font-size:17px;
        vertical-align: middle !important;
    }

    .item {
        height:50px;
        overflow:hidden;
        display: block;
        width: auto;
    }

    .sidenav{
        position: fixed;
    }

    .right{
        padding-left: 50px;
    }

    .item-right-rs{
        float: none;
        display: block;
    }

}
@media (min-width: 768px) {
    .botonraro-toggle {
        display: none;
    }
}