body {
      font-family: "Open Sans", sans-serif;  
      position: relative;
       background-color: #ececec; 
  }
.filled {
    padding-top: 50px;
    padding-left: 50px;
}
.full-logo {
    width: 270px;
    height: 95px;
}
textarea {
    resize: none;
}
.modal-body{
    background:#F6FBFC;
}
.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 70px;
}
/*--search--*/
input.search[type=text] {
    margin-top: 5px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;	
    background-image: url('../imagenes/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    color: #BCBCBC;
}
input.search[type=text]:focus {
    width: 100%;
}
/*--/search--*/
/*--btn menu--*/
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}
/*--/menu--*/
/*--rol--*/
.sidenav {  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    padding-top: 60px;
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*--/rol--*/
/*---left changing_role---*/
.left{
        float:left;
        height:100vh;
    }
    
.left {
    background: #000000;
    display: inline-block;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
}    

.left:hover {
        width: 250px;
    }    
    
.item:hover {
        background-color:#ccc;
        }
        
.left .glyphicon {
        margin:15px;
        width:20px;
        color:#fff;
    }
    
.item {
        height:50px;
        overflow:hidden;
        color:#fff;
}
.type{
    height: 47px;;
}
@media only screen and (max-width: 500px) {
    .left {
        display: none;
    }
}
/*--/left--*/

/*--change_letters--*/
h4, h5, h6,
h1, h2, h3 {margin: 0;}
ul, ol {margin: 0;padding: 0;}
p {margin: 0;}
.nav > li > a {
  color: #999;
}
/*--/change_letters--*/
/*--drop_menu--*/
a.dropdown-toggle.dropdown-at {
    border-bottom: none;
}
.dropdown {
    display: inline-block;
    padding:0;
}
.dropdown-menu {
    min-width: 160px;
    left:-2em;
}
.dropdown-menu {
    padding: 0px 0;
}
.dropdown-menu li a i{
    color: #B3AEAE;
    font-size: 14px;
    margin-right: 6%;   
}
.dropdown-menu li a {
    padding: 9px 20px;
    color:#999;
}
.dropdown-menu li {
    border-bottom: 1px solid #F7F7F7 ;
}
.dropdown-menu li:last-child {
    border-bottom: none;
}
/*--/drop_menu--*/
/*--content--*/
.inbox-right {
    background-color: #fff;
    padding: 1.8em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-img img{
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -o-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
}
.table-row td{
    font-size: 1em;
        padding: 15px 8px 15px !important;
     line-height: 1.42857143;
    vertical-align:middle !important; 
    border-top: 1px solid #ddd;
}
td.table-text h6{
    font-size: 1.2em;
    color:#000;
}
td.table-text p{
    font-size:0.9em;
    line-height: 1.5em;
    /*font-family: 'Muli-Regular';*/
    color:#999;
}
td i{
    color:#999;
}
td span{
    color:#fff;
    font-size: 0.8em;
    padding: 4px 7px;
    /*font-family: 'Muli-Regular';*/
}
td span.fam{
    color:#fff;
    font-size: 0.8em;
    padding: 4px 7px;
    /*font-family: 'Muli-Regular';*/
}
td span.fam{
    background:#3BB2D0;
}
td span.ur{
    background: #FFA800;
}
td span.work{
    background: #7F8C8D;
}
td span.mar{
    background: #1ABC9C;
}

.compose h2{
    font-size: 1.2em;
    color: #fff;
    background: #D95459;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
}
.inbox-mail{
    padding: 1em 0;
}
.input-group{
    padding-bottom: 1em;
}

.float-right {
    float: right;
}
.float-left {
    float: left;
}
.mail-toolbar {
    padding-bottom: 2em;
}
.table {
    margin-bottom: 0;
}
.input-group-btn button.btn.btn-success{
    line-height: 24px;
    background-color: #FFA800;
     border: 1px solid transparent;
     border-color: #FFA800;
    border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -o-border-top-right-radius: 4px;
    -ms-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -o-border-bottom-right-radius: 4px;
    -ms-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.nav-sidebar ul li a span{
    color: #fff;
    font-size: 0.8em;
    background: #D95459;
    border-radius: 10px;
    width: 25px;
    height: 18px;
    display: inline-block;
    line-height: 1.7em;
    text-align: center;
    float: right;
}
.content-box {
    background-color: #fff;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.content-box ul li{
   list-style:none;
}
.content-box ul li a{
   font-size:1em;
   color:#999;
   padding:0.5em 1em;
   display: block;
}
.content-box ul li span{
   font-size:1.1em;
   color:#fff;
   padding:0.5em 1em;
   background:#1ABC9C;
   display: block;
    border-top-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -o-border-top-left-radius: 4px;
   -ms-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -o-border-top-right-radius: 4px;
   -ms-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    
}
.content-box ul li a i{
   margin-right:4%;
}
.tabs  li a{
    padding:1em;
}
.tabs  li a:hover{
    background:#1ABC9C !important;
    color:#fff;
}
.tabs  li:first-child a{
    border-top-left-radius: 4px;
   -webkit-border-top-left-radius: 4px;
   -o-border-top-left-radius: 4px;
   -ms-border-top-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
   border-top-right-radius: 4px;
   -webkit-border-top-right-radius: 4px;
   -o-border-top-right-radius: 4px;
   -ms-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
}
.tabs  li:last-child a{
    border-bottom-left-radius: 4px;
   -webkit-border-bottom-left-radius: 4px;
   -o-border-bottom-left-radius: 4px;
   -ms-border-bottom-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   -webkit-border-bottom-right-radius: 4px;
   -o-border-bottom-right-radius: 4px;
   -ms-border-bottom-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
nav.nav-sidebar {
    margin: 1em 0;
    background: #fff;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
tr.table-row:hover{
    background:#FAFAFA;
}
.tab-content {
    padding-left: 0px;
}
tr.table-row {
    border-top: 1px solid #F3F3F4;
}
.tab-content-in{
    margin:0;
}
/*--/content--*/
/*--footer--*/
.Footer__topMenu__item__link,
.Footer__topMenu__item__link:visited,
.Footer__copyrightText {
    font-weight: 400;
}
.Footer__topMenu__item__link,
.Footer__topMenu__item__link:visited {
    font-size: 15px;
    font-size: 1.5rem;
}
.Footer__copyrightText {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 35.2px;
    line-height: 2.2rem;
}
.Footer {
    position: relative;
    padding: 32px 0;
    padding: 2rem 0;
    text-align: center;
}
.Footer__topMenu {
    width: 100%;
}
.Footer__topMenu__item {
    line-height: 64px;
    line-height: 4rem;
    display: inline;
    margin-left: 32px;
    margin-left: 2rem;
}
.Footer__bottomMenu__item {
    display: inline-block;
}
.Footer__pipe {
    display: inline-block;
    margin: 0 16px;
    margin: 0 1rem;
}
.Restricted__footer a{
    color: #999;
}
.Footer__copyrightText p{
    color: #999;
}
.Restricted__footer{
    background-color: #D2D2D2;
}
/*--/footer--*/
/*--responsive--*/
@media(max-width:1366px){
    .middle-content {
        padding: 2.75em 2.15em;
    }
}
@media(max-width:1280px){
    .middle-content {
        padding: 3.35em 2.15em;
    }
    canvas#bar1 ,canvas#line1{
     width: 428px !important;
    } 
    canvas#polarArea,canvas#radar,canvas#doughnut {
        width: 265px !important;
        height: 265px !important;
    }
    .login-mail input[type="text"],
     .login-mail input[type="password"] {
        width: 88%;
    }
}
@media(max-width:1024px){
    .top-content {
        padding: 0;
        width: 40%;
    }
    .content-top-1 {
        background-color: #fff;
        padding: 1.5em 1em;
    }
    .top-content label {
        font-size: 1.8em;
    }
    .bottom-head p {
        font-size: 0.74em;
    }
    i.fa.fa-twitter {
        height: 160px;
    }
    i.fa.fa-facebook {
        height: 160px;
    }
    canvas#bar1, canvas#line1 {
        width: 307px !important;
        height: 273px !important;
    }
    .grid-graph {
        float: left;
        width: 31%;
        padding-right: 2%;
    }
    canvas#polarArea, canvas#radar, canvas#doughnut {
        width: 190px !important;
        height: 190px !important;
    }
    .grid-1 {
        padding: 1.8em 1em; 
    }
    .but_list h1{
        font-size:2em;
    }
}
/*--responsive--*/