.container {
	padding-top: 70px;
}
input.search[type=text] {
    margin-top: 5px;
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 16px;
    background-color: white;	
    background-image: url('../imagenes/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 20px 8px 40px;
    color: #BCBCBC;
}

input.search[type=text]:focus {
    width: 100%;
}