<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>if this parameter is true all errors are displayed, otherwise is used the default error message for final users</description>
        <param-name>debug</param-name>
        <param-value>true</param-value>
    </context-param>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>controller.filters.home.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdministratorFilter</filter-name>
        <filter-class>controller.filters.home.role.administrator.AdministratorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>InstructorFilter</filter-name>
        <filter-class>controller.filters.home.role.instructor.InstructorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PedagogicalFilter</filter-name>
        <filter-class>controller.filters.home.role.pedagogical.PedagogicalFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CoordinatorFilter</filter-name>
        <filter-class>controller.filters.home.role.coordinator.CoordinatorFilter</filter-class>
    </filter>
    <filter>
        <filter-name>TechnicalFilter</filter-name>
        <filter-class>controller.filters.home.role.technical.TechnicalFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/home/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdministratorFilter</filter-name>
        <url-pattern>/home/role/administrator/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>InstructorFilter</filter-name>
        <url-pattern>/home/role/instructor/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PedagogicalFilter</filter-name>
        <url-pattern>/home/role/pedagogical/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CoordinatorFilter</filter-name>
        <url-pattern>/home/role/coordinator/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TechnicalFilter</filter-name>
        <url-pattern>/home/role/technical/*</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
