body {
    font-family: calibri;/*alpaca */  
    position: relative;
    background-color: #ececec; 
}
.top{
    margin-left: 50px; 
    height: 110px;
    background-color: #FFFFFF;
}
.topIconoM{
    height: 100px;
    padding-top: 5px;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0%);
}
.topIconoS{
    height: 100px;
    padding-top: 5px;

    position: absolute;
    right: 0;
    top: 0;
}
.navbar{
    margin-bottom: 0;
    margin-left: 50px; 
    border-radius: 0;
}
.navbar-right>li>a, .navbar-right>li>ul>li>a{
     cursor: pointer;
}
.navbar-inverse{
  background-color: #00877e;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
navbar-toggle{
    padding-top: 1px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 12px;
}
.affix {
    top:0;
    width: 100%;
    right: 0px;
    left: 0px;
    z-index: 10 !important;
    box-shadow: 0px 1px 9px -1px rgba(0,0,0,1)
}
.affix .navbar-right {
  padding-right: 50px;
}
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}
textarea {
    resize: none;
}
/*---left changing_role---*/
.left{
    float:left;
    height: 100vh;
    top: 0;
    position: fixed;
    background: #00877e;
    white-space: nowrap;
    width: 50px;
    transition: width 1s ;
    z-index: 11;
}       
.left:hover {
    width: 250px;
    color: #00FF2A;
}
.left a{
  text-decoration: none;
}
.left .glyphicon {
    margin:15px;
    width:20px;
    color:#fff;
} 
.item {
    height:50px;
    overflow:hidden;
    color:#fff;
    cursor: pointer;
}
div.left div.active{
    background-color: #000000;
}
div.left div:hover:not(.active){background-color: #0E6257}
.type{
    height: 47px;;
}
@media only screen and (max-width: 1024px) {
    .left {
        display: none;
    }
}
/*--/left --*/
/*-- left responsibe--*/
.leftS{
    visibility: hidden;
}
.menu-item, .menu-open-button {
    background: #238276;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    position: absolute;
    color: white;
    text-align: center;
    line-height: 60px;
    transition: transform ease-out 200ms;
    font-size: 20px;
}
.menu-open {
    display: none;
}
.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}
.hamburger-1 {
    transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
    transform: translate3d(0, 0, 0);
}
.hamburger-3 {
    transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
    right: 0px;
    bottom: 0px;
    margin-top: 100px;
    position: fixed;
    padding-top: 40px;
    padding-left: 190px;
    width: 270px;
    height: 110px;
    box-sizing: border-box;
    text-align: left;
    z-index: 1;
}
.menu-item:hover {
    background: #0E6257;
    color: #fff;
}
.menu-item:nth-child(3) {
    transition-duration: 180ms;
}
.menu-item:nth-child(4) {
    transition-duration: 180ms;
}
.menu-item:nth-child(5) {
    transition-duration: 180ms;
}
.menu-item:nth-child(6) {
    transition-duration: 180ms;
}
.menu-item:nth-child(7) {
    transition-duration: 180ms;
}
.menu-item:nth-child(8) {
    transition-duration: 180ms;
}
.menu-item:nth-child(9) {
    transition-duration: 180ms;
}
.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}
.menu-open-button:hover {
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -80.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 280ms;
    transform: translate3d(-58.9466px, -58.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 380ms;
    transform: translate3d(-80.0466px, -0.07586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 180ms;
    transform: translate3d(0.08361px, -150.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
    transition-duration: 280ms;
    transform: translate3d(-125.86291px, -60.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
    transition-duration: 380ms;
    transform: translate3d(-150.03006px, 0.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
    transition-duration: 780ms;
    transform: translate3d(-0.25084px, -104.9997px, 0);
}
/*--/left responsibe--*/
/*--content--*/
#main{
    margin-left: 50px;
    padding: 20px 0;
}
.panelMunnin {
    background-color: #FFFFFF;
    padding: 1.8em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
}

/*--/content--*/
/*--footer--*/
.Footer__topMenu__item__link,
.Footer__topMenu__item__link:visited,
.Footer__copyrightText {
    font-weight: 400;
}
.Footer__topMenu__item__link,
.Footer__topMenu__item__link:visited {
    font-size: 13px;
}
.Footer__copyrightText {
    font-size: 10px;
    line-height: 20px;
}
.Footer {
    position: relative;
    padding: 20px 0;
    text-align: center;
}
.Footer__topMenu {
    width: 100%;
}
.Footer__topMenu__item {
    line-height: 40px;
    display: inline;
    margin-left: 15px;
}
.Footer__bottomMenu__item {
    display: inline-block;
}
.Restricted__footer a{
    color: #999;
}
.Footer__copyrightText p{
    color: #999;
}
.Restricted__footer{
    background-color: #000000 !important;
}
/*--/footer--*/
/*--responsive--*/
@media(max-width:1024px){
    .navbar, #main, .top{
        margin-left: 0px;
    }
    .leftS{
        visibility: visible;
    }
    .topIconoM{
        height: 100px;
        padding-top: 20px;
        padding-left: 10px;
        transform: translate(0,0);
        left: 0;
    }
    .topIconoS{
        height: 80px;
        padding-top: 20px;
        padding-right: 10px;
    }
}
/*--/responsive--*/
/*--pagination--*/
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}
ul.pagination li {display: inline;}
ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}
ul.pagination li a:hover:not(.active) {background-color: #ddd;}
/*--/pagination--*/


.cal1{
   background: #fff;
   margin-bottom: 0em;
   min-height: 392px;
  border: 1px solid transparent;
    border-color: #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
    position: relative;
    color: #FFF;
  font-size: 1em;
  font-weight:400;
  text-transform: uppercase;
  padding:18px 20px;
  text-align: center;
  background-color:#1ABC9C;
  border-top-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -o-border-top-left-radius: 4px;
  -ms-border-top-left-radius: 4px;
  -moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -moz-border-top-right-radius: 4px;
}
.cal1 .clndr .clndr-controls .month {
   text-align:center;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right:20px;
  top:15px;
  width:30px;
  height:30px;
  text-indent: -4000px;
  background: url(../images/arr.png) no-repeat -27px 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
   position:absolute;
   left:20px;
   top:15px;
   width:30px;
   height:30px;
  text-indent: -4000px;
  background: url(../images/arr.png) no-repeat 0px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
   cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:90%;
  margin:0 auto;
}
.cal1 .clndr .clndr-table .header-days {
   font-size:1em;
   font-weight:500;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color:#1ABC9C;
}
.cal1 .clndr .clndr-table tr {
    height:45px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color: #A6A6A6;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cal1 .clndr .clndr-table tr .day.today {
     background:#FBB03B;
   color: #FFF;
   position:relative;
}

.cal1 .clndr .clndr-table tr .day.today:hover {
    color: #FFF;
    background:#FBB03B;
}
.cal1 .clndr .clndr-table tr .day:hover{
  color: #FFF;
    background:#FBB03B;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background:#FBB03B;
   color:#FFF;
}
.day.today.event:hover{
  background:#FBB03B;
  color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size:0.8em;
  text-align:center;
  cursor:pointer;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color: #989898;
  font-weight: 300;
}
@media all and (max-width:1024px){
  .cal1 .clndr .clndr-table tr .day.today:after{
    left:20px;
  }
  .cal1 .clndr .clndr-controls {
  font-size: 0.85em;
  padding: 20px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 10px;
  top: 14px;
}  
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right: 10px;
  top: 14px;
}  
.cal1 .clndr .clndr-table .header-days {
  font-size: 12px;
}
.cal1 .clndr .clndr-table tr {
  height: 35px;
  font-size: 12px;
}
.cal1 {
  min-height: 280px;
}
}
@media all and (max-width:800px){
  .cal1 .clndr .clndr-table tr .day.today:after{
    left:13px;
  }
}
@media all and (max-width:640px){
  .cal1 .clndr .clndr-table tr{
    height:35px;
  }
  .cal1 .clndr .clndr-table tr .day.today:after{
    left:10px;
  }
}
@media all and (max-width:480px){
  .cal1 .clndr .clndr-table tr .day.today:after{
    left:24px;
  }
}
@media all and (max-width:320px) {
  .cal1 .clndr .clndr-table tr {
    height: 35px;
  }
  .cal1 .clndr .clndr-table tr .day.today:after{
    left:15px;
  }
}